.weui-tabbar__icon {
    width: .75rem !important;
    height: .23rem !important;
}

.tree{
    p.weui-tabbar__label {
        padding-top: .12rem;
    }
}
input{
    border: none;
    outline: none;
    -webkit-appearance: none;
}
//--清除谷歌浏览器下的 search 叉号
input::-webkit-search-cancel-button{
    display: none;
}
//--清除IE下的 search 叉号
input[type=search]::-ms-clear{
    display: none;
}
div{
    box-sizing:border-box
}
<<<<<<< HEAD
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
=======
>>>>>>> 3bea29e56f3d9a16e105fa74b3f45a5eaa2505fa

.vux-tab-item{
    font-size: 18px;
    color: #888888;
    line-height: 18px;
    //font-weight: 600;
}

/* 课程 */
.class{
    //background-color: pink;
    .vux-tab{
        background-color: #f5f5f5;
        font-size: 18px;
        color: #333333;
        line-height: 18px;
    }
}

/* 周边产品 */
.cardClass-container{
    .weui-grid{
        height: 1.85rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .grid-center{
            //padding: .15rem;
            width: 1.58rem;
            //height: 1.1rem;
            img{
                width: 1.58rem;
                height: 1.1rem;
            }
            .name{
                text-align: left;
                font-size: 14px;
                font-weight: 600;
                color: #333333;
                line-height: 14px;
                margin: .05rem 0 .07rem;
            }
            .info{
                text-align: left;
                font-size: 14px;
                color: #EF4D1B;
                line-height: 14px;
            }
        }
    }
}

/* 现场课 */
.site-class-container{
    .xs-container{
        width: 2000px;
    }
    .box1{
        width: 2000px;
    }
    .box1-item{
        line-height: .14rem;
    }
}


